.panel {
    text-align: center;
    padding: 10px;
    background-color: #2B7BB9;
}

h1 {
	font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
}

body {
    background-color: #F5F8FA;
}

ul {
    list-style: none;
    margin-left: -40px;
}

.media-image {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
}

.tweet {
    padding: 30px;
}

.user {
    text-align: center;
}

.user_image {
    width: 200px;
    height: 200px;
    padding: 10px;

}

.user_name {
    color: gray;
    padding-top: 5px;
    font-size: 20px;

}

.special {
    color: lightblue;
}

.link {
    color: blue;
}

.element {
    display: inline-block;
    white-space: pre;
}

.text {
	font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
    overflow:auto;
    text-align:center;
}

.item {
    background-color: #ffffff;
    display: none;
    height: 100vh
    /* margin-bottom: 10px; */
}
