.panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    right: 0;
    height: 5%;
    background-color: #FC6565;

    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.body {
    background-color: gray;
}

.main {
}

.sub {
    margin-left: 300px;
}

#current {
    float: right;
    width: 100%;
}

#stream {
    float: left;
    width: 300px;
    list-style: none;
    height: 90%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: -340px;

    overflow: hidden;

    background-color: gray;
}

/* Current */
.currentItem {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.current_user_name {
    order : 0;

    margin: 5px;

    width: 300px;
    height: 300px;
    max-height: 300px;
    max-width: 300px;

    background-color: gray;
    text-align: center;
}

.current_user_name_full {
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    color: white;
}

.current_user_name_screen {
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    text-overflow: all;
    color: blue;
}

.current_user_image {
    order: 1;
    width: 300px;
    height: 300px;
    margin: 5px;

}

.current_tweet {
    order: 5;
    width: 300px;
    height: auto;
    margin: 5px;
    background-color: gray;

    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    color: white;
    word-break: all;

    justify-content: space-between;
    text-align: center;
}

.current_media {
    order : 4;

    width: 300px;
    height: 300px;
    margin: 5px;
}

/* Stream */
.streamItem {
    display: block;
    padding: 5px;
    background-color: white;
}
.user {
    text-align: center;
}

.user_image {
    padding: 5px;
    width: 250px;
    height: 250px;
}

.user_fullname {
    text-align: center;
    padding: 5px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

.tweet_text {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    text-overflow: auto;
    word-break: normal;
}

/* Scrolling text */
.scroll-left {
 height: 50px;  
 overflow: hidden;
 position: relative;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 30s linear infinite;
 -webkit-animation: scroll-left 30s linear infinite;
 animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
