.panel {
    text-align: center;
    padding: 10px;
    background-color: #2B7BB9;
}

h1 {
	font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
}

body {
    background-color: #F5F8FA;
    text-align: center;
}

ul {
    list-style: none;
}

.tweet {
    padding: 5px;
}

.user {
    text-align: center;
}

.user_image {
    width: 50px;
    height: 50px;
    padding: 10px;

}

.user_name {
    color: gray;
    padding-top: 5px;

}

.special {
    color: lightblue;
}

.element {
    display: inline-block;
    white-space: pre;
}

.text {
	font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    overflow:auto;
    text-align:center;
}

.item {
    background-color: #ffffff;
    margin: 10px 0;
}

